:root{
    --dark-blue:#000050;
    --med-blue: #8a8aff;

    /*--- c colors are followed by what they contrast---*/
    --c-dark-blue: rgb(255,250,240);

}
/*----- Buttons -----*/
.btn-round{
    font-size: 100%;

    height: 35px;
    width: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}
/*----- Default Page CSS -----*/
.default-page{
    padding: 1rem;

    width: 100%;

    display: flex;

    padding: 1rem;
}
